{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Photo Gallery</title>

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    {% block content %}
        <div class="alert alert-primary" role="alert">Categories available are Sports &nbsp; Entertainment &nbsp; Food</div> 
        <h1>Photo Gallery</h1> 
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>