{% extends 'all-pics/base.html' %}
{% load static %}

 {% block content %}

  <div class="container" style="height: 91.50%; position:absolute; left:8%;">

    <div class="" style="height: 100%;">
      <div class="card row" style="min-height: 100%;">
        <h1 class="" style="margin-top:2em;">{{gallery.title}}</h1>
        <div class="row" style="justify-content: space-around;margin-top:2em;">
          <img src="{{gallery.image.url}}"  class="img-responsive" alt="" width="25%" style="margin-left:3em;">
          <div style="width: 60%;">
            <div class="card" style="margin: auto; min-height:60%;">
              <p style="text-align:center;">{{gallery.description}}</p>
              <footer style="position:absolute; bottom:5%; width:100%;">
                <hr>
                <p style="margin-left: 1.5em;"><strong>Posted</strong> <em>{{gallery.post_date|timesince}} ago</em> by Wilbrone</p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}