{%extends 'all-pics/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photo%}
      <h2>Found {{ photo|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> The category {{message}} does not exist </h2>
    {% endif %}

  </div>

  <div class="row">

    {% comment %} ************************ {% endcomment %}
    <div class="row" style="margin: 0 auto;display: flex;justify-content: space-around;">
      {% for photos in photo %}
      <div class="card" style="position: relative; width: 30%; margin-top:2em !important; margin-bottom: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <a href="{% url 'image' photos.id %}">
              <img class="card-img-top w3-hover-grayscale" src="{{photos.image.url}}" alt="Card image cap" width="100%">
          </a>
          <div class="card-body" style="">
              <p class="title"><h1>{{ photos.title }}</h1></p>
              <p class="card-text">
                  {{ photos.description | truncatechars:50 }}
              </p>
          </div>
          <hr width="80%" style="jstify:center;">
          <p style="width:100%;">
              <a href="{% url 'image' photos.id %}">
                  <button class="prof" style="width:83%;border: none; outline: 0; display: inline-block; padding: 8px; color: white; background-color: #000; text-align: center; cursor: pointer; font-size: 14px;">
                      View More
                  </button>
              </a>
          </p>
      </div>
      {% empty %}
      <p>
          you got nothing to show
      </p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}