<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: lightseagreen;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">The Photo Gallery</a>
      <a class="navbar-brand" href="{% url 'allPhotos' %}">Home</a>

      {% for loc in locations %}
        <a href="{% url 'location' loc.id %}" style="text-decoration: none; font-size: 1.5em; color: black;">{{ loc.loct }}</a>&nbsp;
      {% endfor %}
    </div>
    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">
      <!-- forms -->
      <form class="navbar-form" role="search" action="{% url 'search_results' %}">

        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Category" name="category">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        </div>

    </form>
    </div>
    <!-- search form end -->
    
  </div>
</nav>
</body>
</html>